*{
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: black;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 150, 0);
}

::selection{
    color: white;
    background-color: rgb(255, 150, 0);
}

a{
    text-decoration: none;
    color: black;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin-left: 20px;
    color: white;
}

nav a{
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    color: white;
}

nav a:hover{
    background-color: rgb(255, 150, 0);
}

a#selected{
    color: rgb(255, 150, 0);
}

a#selected:hover{
    background-color: rgba(0, 0, 0, 0);
}

#header{
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

section{
    background-color: white;
}

section.accueil{
    display: grid;
    grid-template-columns: 70% 30%;
}

aside{
    text-align: center;
    border-left: 2px solid black;
    overflow: scroll;
    overflow-x: hidden;
}

article h4{
    text-align: center;
    margin-top: 35vh;
    font-size: xx-large;
}

.actu{
    border: 1px solid black;
    width: 95%;
    margin: auto;
    
    transition: 0.24s;
}

.actu p{
    text-align: justify;
    margin: 10px;
}

.actu hr{
    width: 80%;
}

.actuImg{
    width: 90%;
    margin: 4%;
}

a .actu:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.hamburger{
    display: none;
}

.reader{
    width: 25em;
    margin: auto;
    padding: 20px;
}

.controls{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.controls a:hover{
    border-bottom: 2px solid rgb(255, 150, 0);
}

.page{
    display: grid;
    background-image: url("img/empty.png");
    background-size: cover;
    height: 566px;
}

.page .previous{
    opacity: 0;
    display: flex;
    grid-column: 1;
    transition: 0.24s;
    text-align: center;
    align-items: center;
}

.page i{
    margin: auto;
    font-size: 4em;
    opacity: 0.5;
}

.page .previous:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
}

.page .next{
    opacity: 0;
    display: flex;
    grid-column: 2;
    transition: 0.24s;
    text-align: center;
    align-items: center;
}

.page .next:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
}

footer{
    text-align: center;
    height: 50px;
}

footer .wrapper{
    justify-content: space-around;
}

footer p{
    color: white;
    font-size: large;
}

footer a{
    text-decoration: none;
    font-size: x-large;
    color: white;
}

footer a:hover i{
    color: rgb(255, 150, 0);
}

@media screen and (max-width:768px) {
    section{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    nav{
        display: none;
    }

    article h4{
        margin-top: 20px;
    }

    aside{
        overflow: hidden;
        border: none;
        margin: 10px;
    }

    .hamburger{
        display: block;
        font-size: x-large;
    }

    #header{
        justify-content: space-around;
    }

    header h1{
        margin: none;
    }

    .reader{
        width: 100%;
    }
}